*{
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* font-weight: normal; */
}

.headerNavLink{
  display: block;
}
.headerNavLink a{

  color: white;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  display: flex;

}
p .badge.bg-secondary{
  font-size: 22px;
  
}
.wrapSection{
  border: 1px solid red;
  width: 600px;
  margin: 20px auto;
}
.blog{
  background:rgba(255, 192, 203, 0.087);
  border:1px solid brown;
  padding:15px;
  font-size: 15px;
  margin:15px;
  border-radius: 5px;
}
.blog span{

  display: inline-block;
  vertical-align: top;
  /* border: 2px solid green; */
  margin-right: 15px;
  padding: 5px;
  border-radius: 50%;
}

.blog h3 img{
  width: 300px;
}
.blog span img{

  width: 180px;
}
h2 a{
  font-size: 30px;
  
}
.productDetails h3{

  font-size: 20px;
  color: brown;

}
.productDetails>img{

  width:300px;
}

.productDetails .productImage img{

  width: 200px;
} 

.list-group-item .active{
  background-color: blue;
}