*{
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* font-weight: normal; */
}
h1{

  /* font-weight: bold; */
}
.headerNavLink{
  display: block;
}
.headerNavLink a{

  color: white;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  display: flex;

}
p .badge.bg-secondary{
  font-size: 22px;
  
}
.wrapSection{
  border: 1px solid red;
  width: 600px;
  margin: 20px auto;
}